.cards {
    margin: 10px;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #dadada;
    width: 330px;
    border-radius: 10px;
    padding: 20px;
    align-items: end;
    box-shadow: 4px 3px 10px #bdbdbd;
}
.cards h3, .cards h5{
    text-transform: uppercase;
}
.cards h6{
    width: 210px;
    text-align: end;
}
h3,h5,h6{
    margin: 0;
}
.promos{
   display: flex;
}
.explore{
    margin-top: 5px;
    border: 1px solid;
    background-color: #CE1126;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    color: rgb(211, 205, 205);
    font-size: medium;
}
.head img{
    width: 100%;
}